<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onResetPassword(resetForm)" #resetForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="password"
        name="{{ viewLabelProperties.password.formName }}"
        ngModel
        #passwordInput="ngModel"
        placeholder="{{ viewLabelProperties.password.label }}"
        required>
      <mat-error *ngIf="passwordInput.invalid">{{ validationMessages.password.required }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        name="{{ viewLabelProperties.passwordRepeat.formName }}"
        ngModel
        #passwordReset="ngModel"
        placeholder="{{ viewLabelProperties.passwordRepeat.label }}"
        required>
      <mat-error *ngIf="passwordReset.invalid">{{ validationMessages.passwordRepeat.required }}</mat-error>
    </mat-form-field>
    <button
      *ngIf="!isLoading"
      mat-raised-button
      color="accent"
      type="submit">{{ buttonProperties.passwordUpdate.label }}
    </button>
  </form>
</mat-card>
