:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}
/* Structure */
table {
  width: 100%;
}

td {
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
