<mat-card>
  <mat-card-content>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onChangePassword()" *ngIf="!isLoading">
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="{{ viewLabelProperties.passwordCurrent.formName }}"
          placeholder="{{ viewLabelProperties.passwordCurrent.label }}">
        <mat-error *ngIf="form.get('passwordCurrent').invalid">{{ validationMessages.passwordCurrent.required }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="{{ viewLabelProperties.passwordNew.formName }}"
          placeholder="{{ viewLabelProperties.passwordNew.label }}">
        <mat-error *ngIf="form.get('passwordNew').invalid">{{ validationMessages.passwordNew.required }}</mat-error>
      </mat-form-field>      <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="{{ viewLabelProperties.passwordConfirm.formName }}"
        placeholder="{{ viewLabelProperties.passwordConfirm.label }}">
      <mat-error *ngIf="form.get('passwordConfirm').invalid">{{ validationMessages.passwordConfirm.required }}</mat-error>
    </mat-form-field>
      <button
        *ngIf="!isLoading"
        mat-raised-button
        color="accent"
        type="submit">{{ buttonProperties.saveChanges.label }}
      </button>
    </form>
  </mat-card-content>
</mat-card>


